* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  opacity: 0;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 1;
  }
}
.header {
  padding-top: 5.4rem;
  position: relative;
}
.header .header_container {
  width: 1180px;
  margin: 0 auto;
}
.header .header_container .header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.header .header_container .header_top .title {
  font-weight: 900;
  font-size: 1.8rem;
  text-align: center;
  color: #292929;
  width: 40rem;
}
.header .header_container .header_top .title .red {
  color: #ed2a54;
}
.header .header_container .header_top .registration_buttons {
  display: flex;
  align-items: center;
}
.header .header_container .header_top .registration_buttons .login_modal {
  position: absolute;
  z-index: 7;
  top: 114%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1B68B2;
  width: 50%;
  height: 40rem;
  padding: 6rem;
  border-radius: 1.5rem;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}
.header .header_container .header_top .registration_buttons .login_modal .close_modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
}
.header .header_container .header_top .registration_buttons .login_modal .modal_title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  text-align: center;
  color: #fff;
  margin-bottom: 5rem;
}
.header .header_container .header_top .registration_buttons .login_modal .modal_block {
  display: flex;
  align-items: first baseline;
}
.header .header_container .header_top .registration_buttons .login_modal .modal_block form select {
  all: unset;
  width: 34rem;
  height: 4.5rem;
  margin-bottom: 2.5rem;
  background: white;
  border-radius: 1rem;
  padding-left: 1rem;
  font-size: 1.3rem;
}
.header .header_container .header_top .registration_buttons .login_modal .modal_block form .modal_input {
  all: unset;
  width: 34rem;
  height: 4.5rem;
  margin-bottom: 2.5rem;
  background: white;
  border-radius: 1rem;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 123%;
  padding-left: 1rem;
  color: black;
}
.header .header_container .header_top .registration_buttons .login_modal .modal_block form .modal_input:last-child {
  margin-bottom: 4rem;
}
.header .header_container .header_top .registration_buttons .login_modal .modal_block form .modal_input::placeholder {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 123%;
  color: gray;
}
.header .header_container .header_top .registration_buttons .login_modal .modal_block .btns {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.header .header_container .header_top .registration_buttons .login_modal .modal_block .btns .modal_btn {
  padding: 1.8rem 2.9rem;
  display: inline-block;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 100%;
  text-align: center;
  color: #fff;
  background: #ed2a54;
  border-radius: 0.5rem;
  margin-bottom: 2.2rem;
  text-decoration: none;
}
.header .header_container .header_top .registration_buttons .login_modal .modal_block .btns .forgot_link {
  font-size: 1.4rem;
  line-height: 114%;
  color: #fff;
  text-decoration: none;
  margin-bottom: 2.5rem;
}
.header .header_container .header_top .registration_buttons .login_modal .modal_block .btns .toggle_link {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  color: #fff;
}
.header .header_container .header_top .registration_buttons .register_modal {
  position: absolute;
  z-index: 7;
  top: 114%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1B68B2;
  width: 50%;
  height: 40rem;
  padding: 6rem;
  border-radius: 1.5rem;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}
.header .header_container .header_top .registration_buttons .register_modal .close_modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
}
.header .header_container .header_top .registration_buttons .register_modal .modal_title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
.header .header_container .header_top .registration_buttons .register_modal .modal_subtitle {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 187%;
  text-align: center;
  color: #fff;
  margin-bottom: 4.2rem;
}
.header .header_container .header_top .registration_buttons .register_modal form .modal_input {
  all: unset;
  display: block;
  width: 34rem;
  height: 4.5rem;
  margin: 0 auto 2.5rem;
  background: white;
  border-radius: 1rem;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 123%;
  padding-left: 1rem;
  color: black;
}
.header .header_container .header_top .registration_buttons .register_modal form .modal_input:last-child {
  margin-bottom: 4rem;
}
.header .header_container .header_top .registration_buttons .register_modal form .modal_input::placeholder {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 123%;
  color: gray;
}
.header .header_container .header_top .registration_buttons .register_modal .modal_btn {
  width: 15rem;
  display: block;
  padding: 1.8rem 2.9rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 100%;
  color: #fff;
  background: #ed2a54;
  border-radius: 0.5rem;
  margin: 0 auto 2.2rem;
  text-decoration: none;
}
.header .header_container .header_top .registration_buttons .buttons_user {
  margin-right: 1.6rem;
}
.header .header_container .header_top .registration_buttons .btn {
  font-weight: 500;
  font-size: 1.3rem;
  text-decoration: none;
  color: #1b68b2;
}
.header .header_container .header_top .registration_buttons .login_btn {
  border-right: 1px solid #acacac;
  padding-right: 1rem;
}
.header .header_container .header_top .registration_buttons .register_btn {
  padding-left: 1rem;
}
.header .header_container .header_bottom .header_bottom__line {
  width: 118rem;
  background-color: #2479CA;
  border-radius: 2rem;
  transition: background-color 0.5s ease;
}
.header .header_container .header_bottom .header_bottom__line:hover {
  background-color: #1b68b2;
}
.header .header_container .header_bottom .header_bottom__line .nav_link {
  padding: 2.4rem 3rem;
  display: inline-block;
  font-weight: 500;
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #1b68b2;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.header .header_container .header_bottom .header_bottom__line .nav_link:hover {
  transform: scale(1.05);
  background-color: #1b68b2;
}
.header .header_container .header_bottom .header_bottom__line .nav_link:active {
  transform: scale(0.95);
}
.header .header_container .header_bottom .header_bottom__line .nav_link:last-child {
  border: none;
}
.header .header_container .header_bottom .header_bottom__line .nav_link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
